{% extends 'layout.html' %}

{% block content %}
    <form class="border border-light p-5 mt-5" method="post" action="">
      {{ form.hidden_tag() }}
      <fieldset>
        <div class="form-group">
          {{ form.password.label }}
          {% if form.password.errors %}
            <div>
              {{ form.password(class="form-control is-invalid") }}
              {% for error in form.email.errors %}
                <span class="text-danger input-error-message" role="alert">{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.password(class="form-control") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.confirm_password.label }}
          {% if form.confirm_password.errors %}
            <div>
              {{ form.confirm_password(class="form-control is-invalid") }}
              {% for error in form.confirm_password.errors %}
                <span class="text-danger input-error-message" role="alert">{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.confirm_password(class="form-control") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info waves-effect my-4 btn-block") }}
        </div>
      </fieldset>
    </form>
{% endblock %}
